body
{
	top: 0;
	bottom: 0;
	background-color: #f4f4f4;
	font-size: 16px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
/*some default setting*/
#header {
font-weight: bold;
font-size: 50px;
margin: 60px 0px;
color: #666;
padding-top:30px;
text-align: center;
}

#container {
	min-height: 1200px;
	margin: 0px auto;
	margin-top: -54px;
	box-shadow: 2px 2px 10px #888;
	padding-bottom: 70px;
	border-radius: 0px 0px 0px 0px;
	background-color: #fff;
}

.btn{
	margin:3px;
}

.form-control {
    background-color: #e4e4e4;
}

.tooltip {
	font-size: 11px;
	font-weight: normal; 
	font-style : normal;
	color: white;
	background:	-moz-linear-gradient(center top , rgba(0, 0, 0, 0.25), transparent) repeat scroll 0% 0% rgb(170, 170, 170);
	border: 1px solid gray;
	padding: 6px;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.8);
	text-shadow: 1px 1px 1px #333333;
}

.ui-dialog-titlebar {
	background-color: #ea5e0d !important;
	color: white !important;
	font-size: 12px !important;
	text-shadow:1px 1px 1px #333333 !important;
}

.ui-widget-overlay {
	background: none !important;
}
.ui-message-error, .ui-message-info {
	position: absolute !important;
	margin-top: -10px;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.8);
	margin-left: 220px;
}
.ui-widget-header {
	color: #FFF;
   
    }
    
 .main-table {
    -webkit-box-shadow:0px 4px 12px #333;
    -moz-box-shadow: 0px 4px 12px #333;
    box-shadow: 0px 4px 12px #333;
}
table th
{
	    background-color:#333 !important;
		background-image: none !important;
		border:none;
		color:#fff !important;
		padding:10px !important;
		font-weight: normal !important;
		
}
.ui-datatable tbody td
{	
	  padding:12px !important;
}
/* singnin start*/
body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin  {
  margin-bottom: 10px;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}

.btn-primary {
   background-color: #008dde !important;
   
}

/*singnin end*/

/*nav bar*/
.new-nav
{
  background-color: #87d37c;
}

.navbar {
    min-height: 40px;
    border: none;
    padding: 20px 0;
    margin-bottom:0px !important;
   margin-top: -40px;
   border-radius: 0px;
}
.navbar-brand img{
    width: 80px;
    height: 60px;
    margin-top: -20px !important;
   
}
